<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About</title>
</head>

<body>
    <h1>About You</h1>
    <div class="box">
        <h2>User Id: <%= post.id %></h2>
        <h2>User name: <%= post.user %></h2>
        <h3>user Content: <%= post.content %></h3>
    </div>
    
    <button><a href="http://localhost:3000/post">Back</a></button>
</body>

</html>