<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <title>Posts</title>
</head>
<body>
    <h1>All Posts</h1>
    <div class="main">
        <a href="https://restapi-uj3p.onrender.com/post/create">Create New Post</a>
        <br>
        <br>
        <div class="container">
            <% for(let post of posts) { %>
                <div class="box">
                    <h3><%= post.content %></h3>
                    <a href="https://restapi-uj3p.onrender.com/post/<%= post.id %>">See More</a>&nbsp;&nbsp;&nbsp;
                    <a href="https://restapi-uj3p.onrender.com/post/<%= post.id %>/update">Edit</a>
                    <br>
                    <br>
                    <form action="">
                        <button>delete</button>
                    </form>
                </div>
                <% } %>
        </div>

    </div>
</body>

</html>